
:root {
  --cyan: #28EFD1;
  --violet: #360E93;
  --purple: #7D18D6;
  --pink: #FE3172;
  --black: #111110;
  --red:#E30922;
  --cyan: #28EFD1;
  --blueblack: #1D2226;
  --blue: #3D6693;
  --white: #FFFFFF;
  --lightgrey: #CBCBCB;
}

body{
    display: flex;
    flex-direction: row;
    border: 0px;
    background-color: var(--blueblack);
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

.sidebar{
    width: 15%;
    height: 100vh;
    background-color: #111110;
    color: var(--white);
    display: flex;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.sidebarName{
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 0px;
    position: relative;
    font-size: 3em;
}

.sidebarSubtitle{
    font-size: 1.25em;
    margin: 0;
}

.sidebarNote{
    font-size: 15px;
    margin: 0;
    color: var(--lightgrey)
}

.sidebarNavContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: var(--cyan);
    width: 50%;
    justify-content: left;
    text-align: left;
    font-size: 24px;
    margin-right: auto;
}

.sideBarNavButton{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 5px;
    color: var(--cyan);
    cursor: pointer;
}

.sideBarNavButton:hover{
    color: var(--pink);
}

.sidebarIcon{
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* prevent flex from shrinking the container */
}

.sidebarIcon svg {
    width: auto;       /* let the SVG keep its aspect ratio */
    height: 100%;      /* fill the container vertically */
    flex-shrink: 0;    /* prevent flexbox from shrinking the SVG */
}

/* .mainBody{
    background-color: red;
} */

