
:root {
  --cyan: #28EFD1;
  --violet: #360E93;
  --purple: #7D18D6;
  --pink: #FE3172;
  --black: #111110;
  --red:#E30922;
  --cyan: #28EFD1;
  --blueblack: #1D2226;
  --blue: #3D6693;
  --white: #FFFFFF;
  --lightgrey: #CBCBCB;
}

body{
    display: flex;
    flex-direction: row;
    border: 0px;
    background-color: var(--blueblack);
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

.sidebar{
    min-width: 550px;
    width: 15%;
    height: 100vh;
    background-color: #111110;
    color: var(--white);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebarName{
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 0px;
    position: relative;
    font-size: 48px;
}

.sidebarSubtitle{
    font-size: 24px;
    margin: 0;
}

.sidebarNote{
    font-size: 15px;
    margin: 0;
    color: var(--lightgrey)
}

.sidebarNavContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: var(--cyan);
    width: 50%;
    justify-content: left;
    text-align: left;
    font-size: 24px;
}

.sideBarNavButton{
    margin-top: 50px;
}