
:root {
  --cyan: #28EFD1;
  --violet: #360E93;
  --purple: #7D18D6;
  --pink: #FE3172;
  --black: #111110;
  --red:#E30922;
  --cyan: #28EFD1;
  --blueblack: #1D2226;
  --blue: #3D6693;
  --white: #FFFFFF;
  --lightgrey: #CBCBCB;
}

body{
    display: flex;
    flex-direction: row;
    border: 0px;
    background-color: var(--blueblack);
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background: url("assets/Gradient_Background.svg") center / cover no-repeat;
  transform: translateX(5%);
  z-index: -1;
  pointer-events: none;
}

a{
    color: var(--blue);
}

.sidebar{
    width: 300px;
    height: 100dvh;              /* modern viewport fix */
    background-color: #111110;
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-left: 50px;
    padding-right: 50px;

    box-sizing: border-box;      /* ensures padding stays inside 15% width */

    position: fixed;
    top: 0;
    left: 0;
}

.sidebarName{
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 0px;
    position: relative;
    font-size: 2rem;
}

.sidebarSubtitle{
    font-size: 1rem;
    margin: 0;
}

.sidebarNote{
    font-size: 0.75rem;
    margin: 0;
    color: var(--lightgrey)
}

.sidebarNavContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: var(--cyan);
    width: 50%;
    justify-content: left;
    text-align: left;
    font-size: 24px;
    margin-right: auto;
}

.sideBarNavButton{
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    gap: 5px;
    color: var(--cyan);
    cursor: pointer;
}

.sideBarNavButton:hover{
    color: var(--pink);
}

.sidebarIcon{
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; /* prevent flex from shrinking the container */
}

.sidebarIcon svg {
    width: auto;       /* let the SVG keep its aspect ratio */
    height: 100%;      /* fill the container vertically */
    flex-shrink: 0;    /* prevent flexbox from shrinking the SVG */
}

.mainBody{
    margin-left: 300px;            /* pushes content to the right of sidebar */
    padding-top: 10rem;
    padding-left: 50px;

    display: flex;
    flex-direction: column;
}

.mainBodyTitle{
    font-size: 3rem;
    color: #FFFFFF;
}

.bentoBox{
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 220px;
    border-radius: 5px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.bentoContainer{
    /* padding-top: 50px; */
    display: flex;
    flex-direction: row;
    width: 70vw;
}

.bentoLandingPageLeftContainer{
    display: flex;
    flex-direction: column;
}

.bentoLandingPageRightContainer{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.bentoTitle{
    font-size: 3rem;
    color: var(--white);
    padding-top: 50px;
    text-align: center;
}

.bentoSubtitle{
    font-size: 1rem;
    color: var(--lightgrey);
    padding-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
}

.bentoHyperlink{
    padding-top: 20px;
    font-size: 0.75rem;
}

/* .mainBody{
    background-color: red;
} */

